<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
    <link rel="stylesheet" href="static/gamesHP.css">
</head>
<body>
    <h1 class="title">Here are some games i've been developing</h1>
    <div class="gif"></div>

    <div class="gamelist">
    <div class="etchbtn">  <button class="btnetch" onclick="window.location.href='/gamesrps'">Rock Paper Scissors</button>  </div>
    <div class="gamebtn">  <button class="btngame" onclick="window.location.href='/etch'">Tic-Tac-Toe</button>  </div>
    <div class="gamebtn">  <button class="btngame" onclick="window.location.href='/mine'">Minesweeper</button>  </div>
    </div>
</body>
</html>