<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
    <link rel="stylesheet" href="static/home.css">
</head>
<body>
    <h1 class="pres">Hey there, i'm Jean</h1>
    <div class="text">where do you wanna go?</div> 



    <div class="flex">
    <div class="gamebtn"> <button class="btngame"onclick="window.location.href='games'">Games</button></div>
    <div class="testbtn"> <button class="backbtn"onclick="window.location.href='backEnd'">Back End Stuff</button>  </div>
    </div>

</body>
<script src="static/rps.js"></script>
</html>
