<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/rps.css">
    <link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet'>
</head>
<body>
    <h1 class="title">Welcome to Rock Paper Scissors!</h1>
    <p class="p">choose your weapon</p>
    <div class="flex">
        <div><button class="rockbtn">&#9994;</button></div>
        <div><button class="paperbtn">&#9995;</button></div>
        <div><button class="scibtn">&#9996;</button></div>
    </div>
        <div class="gif"></div>
    <div class="scores">
        <div class="CSdiv">
            <div>Computer Score: </div>
            <div id="CS"></div>
        </div>
        <div class="scorediv">
            <div id="result"></div>
        </div>
        <div class="HSdiv">
            <div>Your Score: </div>
            <div id="HS"></div>
        </div>  
    </div>
    <div><button class="restartbtn">Restart the game</button></div>
</body>
<script src="static/rps.js"></script>
</html>