<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/tictac.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>
<body>
    <h1 class="text">You can be the first, he is a bit shy</h1>
    <div class="restart"><button class="ar">Restart the game</button></div>

    <div class="grid"></div>

</div>
</body>
<script src="static/tictac.js"></script>
</html>