html {
    height: 100%;
    width: 100%;
    background: linear-gradient( to bottom right, rgb(201, 233, 248), rgb(231, 255, 191), rgb(240, 140, 122));
    background-repeat: no-repeat;
    position:relative;
}


.gif{
    object-position: bottom;
    background-image: url(pretty.gif);
    height: 210px;
    width: 230px;
    position:absolute;
    bottom:0;
    right:0;
}

.title{
    font-family:'Aldrich';
    font-size: 40px;
    font-weight: 50;
    display:flex;
    justify-content: left;
    color:white;
    background-image: linear-gradient(to right, rgb(70, 67, 67), #f3d2d2);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.para{
    color: rgb(159, 168, 218) ;
    font-family:'Courier New', Courier, monospace;
    background-image: linear-gradient(to right, rgb(70, 67, 67), #f3d2d2);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btngame{
    background: none;
    color:rgb(102, 126, 223);
    border:none;
    text-align:center;
    font-size: 20px;
    transition: 0.6s;
    border-radius: 100px;
    cursor:pointer;
}

.gamebtn{
    margin:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    border: solid rgb(182, 204, 250);
    border-radius: 10px;
    margin-top: 20px;
    background-color: none;
    height: 100px;
    width: 200px;
}

.gamebtn:hover{ 
    background-image: linear-gradient(to top, rgb(173, 216, 236), rgb(201, 233, 248));
}

.btnetch{
    background: none;
    color:rgb(102, 126, 223);
    border:none;
    text-align:center;
    font-size: 20px;
    transition: 0.6s;
    border-radius: 100px;
    cursor:pointer;
}

.etchbtn{
    margin:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    border: solid rgb(182, 204, 250);
    border-radius: 10px;
    margin-top: 20px;
    background-color: none;
    height: 100px;
    width: 200px;
}

.etchbtn:hover{ 
    background-image: linear-gradient(to top, rgb(173, 216, 236), rgb(201, 233, 248));
}

.gamelist{
    display: flex;
}